.dashboard-container {
    
    border-radius: 10px;
    background-color: #555b61;;
    height: fit-content;
    
  }
.table {
    border-radius: 10px;
    background-color: black;
}

.dashboard_number {
  color: #70b5f9 ;
}

.dashboard_link:hover {
  
  text-decoration-color: #70b5f9;
  color: #70b5f9;
}

.dashboard_top_table_cell{

}

.dashboard_link {
  padding-right: 110px !important;
  display: block !important;
}