.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2px;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  text-decoration: none !important;
  width: 110%;
}
.sidebar_avatar {
  margin: 0 auto;
  margin-bottom: 10px;
}
.sidebar_top > h4 {
  color: gray;
  font-size: 12px;
}
.sidebar_top > h2 {
  font-size: 17px;
  color: white !important;
}
.sidebar_top {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #1d2226;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sidebar_top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar_stats {
  margin-top: 10px;
  /* display: flex; */
  justify-content: space-between;
}
.sidebar_stat > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}
.sidebar_stats {
  padding: 10px;
  margin-bottom: 10px;
  /* border: 1px solid gray; */
  background-color: #1d2226;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}
.sidebar_statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}
.sidebar_bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid gray;
  background-color: #1d2226;
  border-radius: 10px;
  margin-top: 10px;
}
.side_bottom-heading {
  color: lightgray;
  margin: 5px;
  padding: 5px;
}
.sidebar_recentItem,
.sidebar_groupItem,
.sidebar_eventItem {
  display: flex;
  font-size: 13px;
  color: lightgray;
  font-weight: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}
.sidebar_bottom > p {
  font-size: 13px;
  padding-bottom: 10px;
}
.sidebar_recentItem:hover,
.sidebar_groupItem:hover,
.sidebar_eventItem:hover,
.recentItem:hover,
.groupItem:hover,
.eventItem:hover {
  border-radius: 10px;
  cursor: pointer;
  color: gray;
}
.sidebar_icon {
  margin-right: 10px;
  margin-left: 5px;
  align-items: baseline;
  font-size: 20px;
}
.LeftBar-Link {
  text-decoration: none !important;
}
.sidebar_stat {
  display: flex;
  justify-content: space-between;
}
.access {
  font-size: 13px;
  color: gray;
  text-align: left;
  padding-left: 12px;
}
.try-Premium {
  font-weight: bold;
  font-size: 14px;
  color: whitesmoke;
  width: 100%;
  text-align: left;
  padding-left: 5px;
}
.recentItem,
.groupItem,
.eventItem {
  color: white;
  align-items: baseline;
  font-weight: 0;
  text-decoration: none !important;
  padding-top: 10px;
  line-height: -20px;
}
.recent {
  color: lightgray;
  margin: 5px;
  padding: 5px;
}
.groups,
.events,
.followed-hashtags {
  color: #0a66c2;
  margin: 5px;
  padding: 5px;
}
.plus-link {
  margin-left: 130px;
}
.showMore-button {
  border-radius: 25px;
  text-align: center;
  padding-left: 10px;
  margin-left: 60px;
  color: white;
}
.up-arrow {
  margin-left: 130px;
}

.arrowUp-icon {
  height: 30px;
  width: 30px;
}
.plus-icon {
  height: 20px;
  width: 20px;
}
.plus-icon-event,
.up-arrow-event {
  align-items: space-between;
}
