.content-div1 {
  margin-top: 8px;
  background-color: #1d2226;
  color: white;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  margin-left: -18px;
  padding-left: 10px;
}
.viewers {
  padding-top: 5px;
}
.viewer-profiles {
  background-color: #1d2226;
  margin-left: 12px;
  margin-top: 10px;
  height: fit-content;
  width: 100%;
  color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -18px;
}
.profile-name {
  margin-top: 0px;
  margin-left: -30px;
  padding-top: -10px;
}
.pro-pic {
  padding-left: 0px;
  margin-right: 0px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.message-button {
  border-radius: 25px;
  width: 100px;
  text-align: center;
  padding: 2px;
  margin-left: -30px;
  padding-bottom: 2px;
  border: solid 1px rgb(34, 34, 34);
}
.job-title {
  font-size: 12px;
  margin-left: -30px;
  padding-top: 10px;
  overflow-y: hidden;
}
.jobTitle-Column {
  padding-left: 5px;
}
