.linkedin-post-header {
  padding: 0.5ch;
}

.linkedin-user-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 1ch;
  object-fit: cover;
}

.linkedin-user-name {
  font-size: 14px;
  color: #ffffffe6;
  font-weight: bold;
}

.linkedin-user-title {
  font-size: 12px;
  color: #ffffff99;
  font-weight: 400;
}

.linkedin-post-date {
  font-size: 12px;
  color: #ffffff99;
  font-weight: 400;
}

.linkedin-post-body {
  font-size: 14px;
  color: #ffffffe6;
  padding: 1ch 2ch 1ch 2ch;
}

.linkedin-post-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1ch;
  margin-left: 1ch;
  padding-top: 0.5ch;
  padding-bottom: 0.5ch;
}
.Comment-icon {
  margin-top: 0.6ch;
}
.Share-icon {
  margin-bottom: 0.5ch;
}
.Like-icon {
  margin-bottom: 0.4ch;
}

.linkedin-post-button {
  background-color: transparent !important;
  border-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-top: 1.5ch;
  padding-bottom: 1.5ch;
  margin: 0;
}

.linkedin-post-button:hover {
  background-color: rgb(66, 66, 66) !important;
  border-color: transparent !important;
}

.flip {
  transform: rotateY(180deg);
}

.rotate-icon {
  transform: rotate(-30deg) translate(0%, -10%);
}

.linkedin-post-likes{
  font-size: 14px;
  color: #ffffffe6;
  font-weight: 200;
  padding-left: 1ch;
}

.inputinput-comments {
  display: flex;
  align-items: center;
  border-radius: 18px;
  height: 45px;
  width: 100%;
  border: 1px solid rgb(82, 82, 82);
  background-color: rgb(255, 255, 255) !important;
  padding-left: 10px;
  margin-right: 0.8rem;
  
}
.inputinput-comments > input {
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 50px;
}

.input-icon{
  font-size: 1.4rem;
  color: black;
}

.ordercomment{
  background-color: transparent;
  color: rgb(179, 179, 179);
  border: none;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.comment_container{
  background-color: rgb(202, 202, 202);
  border-radius: 8px;
  padding: 1rem;
  color: black;
  
}
.comment_author_title{
  color: rgb(114, 114, 114);
  font-weight: 100;
  font-size: 0.8rem;
  
}

.comment_author_name{
  margin-bottom: 0;
}
 
.comment_creation{
  color: rgb(114, 114, 114);
  font-weight: 100;
  font-size: 0.8rem;
}

.linkedin-post-comments{
  cursor: pointer;
  font-size: 14px;
  color: #ffffffe6;
  font-weight: 200;
}