.avatar {
  border: 5px solid black;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  bottom: -50px;
  /*   transform: translate(-430px, -120px); */

  z-index: 3;
}

.imagess {
  position: relative;
  margin-bottom: 70px;
}

.central_avatar {
  border-radius: 10px;

  background-color: #1d2226;
  height: fit-content;
  margin-bottom: 10px;
}

.background_avatar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  width: 100%;
  height: 130px;
  object-fit: cover;
  position: relative;
}

/*  .central_avatar_info {
    transform: translateY(-80px);
  } */

.central_avatar_city {
  color: rgb(156, 151, 151);
}

.contacts_central {
  color: rgb(156, 151, 151);
}

.schools_logos {
  height: 40px;
  width: 40px;
}

.menu_button {
  border-radius: 23px !important;
}

.edit_image_button {
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 4;
  top: 20px;
  right: 20px;
  padding-left: 8.5px !important;
}

.menu_button_open {
  background-color: #70b5f9 !important;
  border-radius: 23px !important;
}

.menu_button_open:hover {
  color: white !important;
  background-color: black !important;
}

.central_avatar_contact {
  color: #70b5f9;
}

.central_avatar_contact:hover {
  color: #70b5f9;
  text-decoration-color: #70b5f9;
}

.modal-content {
  background-color: rgb(68, 65, 65) !important;
  border-radius: 15 px !important;
  margin: 3ch;
  color: white;
}
