.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
}
.header_left {
  display: flex;
  padding-left: 100px;
}
.linkedin-logo {
  height: 45px;
  width: 45px;
  color: white;
  align-items: baseline;
  display: flex;
  margin-left: 145px;
}
.header_search {
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: fit-content;
  border: 1px solid rgb(82, 82, 82);
  background-color: rgb(82, 82, 82) !important;
  padding-left: 7px;
  margin-top: 12px;
}
.header_search > input {
  outline: none;
  border: none;
  height: 40px;

  border-radius: 5px;
}
.search_Bar_input {
  outline: none;
  border: none;

  background-color: rgb(82, 82, 82) !important;
  border-radius: 10px;

  color: lightgray;
}

.header_right {
  display: flex;
  margin-left: 0px;
}

.Home-Link,
.Profile-Link {
  text-decoration: none !important;
}
.Search-icon {
  color: lightgray !important;
}
.navbar-icon {
  height: 50px;
  width: 50px;
}
