.RideSideBar{
  
  
  color: white;
  width: fit-content;
  font-size: 15px;
  border-radius: 10px;
  
  
  
}
.content-div1 {
  background-color: #1d2226;
  width:90%;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 0px;
}
.viewer-profiles {
  background-color: #1d2226;
  padding-left: 10px;
  margin-top: 10px;
  height: fit-content;
  width:90%;

  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
 
}
.lineeee{
  border: rgb(145, 144, 144) 1px solid;
  border-radius: 23px;
  width: 90%;
  ;
}
/* 


.profile-name {
  
}
.pro-pic {
  margin-left: -39px;
  margin-right: 0px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.follow {
  border-radius: 25px;
  width: 100px;
  text-align: center;
  padding: 2px;
  
}
.job-title {
  font-size: 12px;
  
  overflow-y: hidden;
}
.plus-icon {
  margin-top: 2px;
}
 */

 .follow{
  color:white ;
  border-radius: 23px;
   padding: 0.3rem 1.2rem 0.3rem 1.2rem;
   background-color: transparent;
   border: 2px solid white;
 }

 .follow:hover{
   background-color: white;
   color: black;
   border:black 2px solid;
   /* transform:scale(1.1); */
   cursor: pointer;
   transform: none;
 }


 .sidebartitle {
   font-size: 0.8rem;
 }