body {
  background-color: black !important;
  height: 100% !important;
}

.App {
}

.linkedin-card {
  background-color: #1d2226;
  margin: 1ch;
  color: white;
  padding: 16px;
  border-radius: 10px;
  border: 0.1rem solid rgba(0, 0, 0, 0.6);
}

.linkedin-card-header {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.42857;
}

.linkedin-card-body {
  margin-top: 1ch;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
}
